@charset "utf-8";

@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
}

#popup {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font: bold 12px/1 "SpoqaHanSansNeo-Regular";
}

#wrap {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
}

#wrap>h1 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

#wrap>h1>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap>h1>a>img {
    width: auto;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

#wrap>h2 {
    text-align: center;
    font: bold 20px/1 "SpoqaHanSansNeo-Regular";
    margin-bottom: 5px;
}

#wrap>p {
    text-align: center;
    color: #868686;
    font: bold 12px/1 "SpoqaHanSansNeo-Regular";
    margin-bottom: 15px;
}

#wrap>form {
}

#wrap>form>input {
    outline: none;
    border: none;
    margin-bottom: 5px;
}
#wrap>form>input:nth-child(1){
    width: 100%;
    height: 38px;
    outline: none;
    border: 1px solid #e9e9e9;
    background: #fff9f9;
    padding: 10px;
    font: bold 12px/1 "SpoqaHanSansNeo-Regular";
    margin-bottom: 5px;
}

#wrap>form>select {
    outline: none;
    width: 100%;
    height: 38px;
    border: 1px solid #e9e9e9;
    background: #fff9f9;
    border-radius: 4px;
    font: bold 12px/1 "SpoqaHanSansNeo-Regular";
    padding-left: 10px;
    appearance: none;
    margin-bottom: 15px;
}

#wrap>form>select>option {
    appearance: none;
    border-radius: 0;
    padding: 5px 0;
    font: bold 12px/1 "SpoqaHanSansNeo-Regular";
}

#wrap>form>input:last-child {
    width: 100%;
    height: 38px;
    outline: none;
    border: none;
    background: #6145ff;
    margin: 3px 0;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    font: bold 13px/1 "SpoqaHanSansNeo-Regular";
}

#wrap>form:last-child>input {
    background: #ff4545;
}